.click-animation {
  position: absolute;
  z-index: 100;

  transform: translate(-50%, -50%) scale(0.2);
}

.main {
  width: 100vw;
  min-height: 100vh;
}

.text {
  margin: 1.5rem 0;

  @include respond(tab-port) {
    font-size: reduce($font-size-medium, 0.2);
  }
}

.big-tab-text {
  @include respond(tab-land) {
    font-size: $font-size-medium;
  }
}

.small-text {
  font-size: reduce($font-size-small, 0.4);
}

.no-margin {
  margin: 0;
}

.padding-s {
  padding: 1rem;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__slider {
    width: 35rem;
    @include respond(phone) {
      width: 40rem;
    }
  }
}
.slider-desc {
  color: $color-primary-dark;
  font-size: $font-size-medium;
}
