@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absolute-position($x, $y) {
    position: absolute;
    top: $y;
    left: $x;
    transform: translate(-$x, -$y);
}

@mixin absolute-above-center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

@mixin absolute-left-center {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

@mixin lift {
    transition: $transition-normal;

    &:hover {
        transform: translateY(-3px);
        box-shadow: $shadow-normal;
    }

    &:active {
        transform:translateY(-1px);
        box-shadow: $shadow-small;
    }
}

@mixin flex-column-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@mixin no-hover-effects {
    opacity: 1;
    &:hover {
        transform: scale(1);
    }
}

@mixin flash-out($flash-color: $color-primary, $speed: 0.4) {
    position: relative;
    transition: $transition-fast;

    &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: -1;

        opacity: 1;
        border-radius: 1rem;
        background-color: $flash-color;
        transition: $transition-normal;
    }

    &:hover {
        &::after {
            opacity: 0;
            transform: scale(1.4, 1.6);
        }
    }
}

@mixin clarify-on-hover {
    opacity: 0.8;
    transition: $transition-normal;

    &:hover {
        opacity: 1;
    }

    @include respond(no-hover) {
        opacity: 1;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content } // 600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content } // 900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content } // 1200px
    }
    @if $breakpoint == bdesk {
        @media only screen and (min-width: 112.5em) { @content } // 1800px
    }
    @if $breakpoint == no-hover {
        @media only screen and (hover: none) { @content }
    }
}